<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Projects</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <pre>{{ projects | json}}</pre> -->
    <mat-list>
      <!-- (click)="selectProject(project, $event)" -->
      <mat-list-item
        *ngFor="let project of projects"
        (click)="selected.emit(project)">
        <h3 mat-line>
          <h3>{{ project.title }}</h3>
        </h3>
        <p mat-line>
          {{ project.details }}
        </p>
        <button mat-icon-button
                *ngIf="readonly"
                (click)="deleted.emit(project);$event.stopImmediatePropagation()">
          <!-- (click)="deleteProject(project);$event.stopImmediatePropagation()"> -->
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
